* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-snap-align: top;
}
body {
  font-family: "Josefin Sans", sans-serif;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  background-image: linear-gradient(rgb(7, 47, 86), rgb(5, 22, 46));
  font-size: 2.5vmin;
  @media (max-width: 600px) {
    font-size: 2vh;
  }
}

.button {
  // margin-top: 20px;
  // flex-basis: 21%;
  border: none;
  background: none;
  color: white;
  outline: none;
  cursor: pointer;
  margin: 50px auto;
  padding: 10px 20px;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  border-radius: 24px;
  background-image: linear-gradient(
    45deg,
    orange,
    orangered,
    rgba(2, 7, 42, 0.251),
    rgba(255, 255, 255, 0.19)
  );
  background-position: left;
  background-size: 400%;
  font-family: "Skranji", cursive;
  box-shadow: 6px 0px 15px #ff8911, -6px 0 15px #ff8911;
  transition: 0.5s;
  &:hover {
    background-position: right;
    box-shadow: 6px 0px 15px rgba(255, 255, 255, 0.102),
      -6px 0 15px rgba(255, 255, 255, 0.109);
  }
}

.nav {
  display: flex;
  position: fixed;
  height: 10vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: "Skranji", cursive;
  color: white;
  z-index: 1000;
  backdrop-filter: blur(5px);
  padding: 0 5%;
  opacity: 0;
  // background-color: rgba(4, 33, 62, 0.748);
  box-shadow: 6px 0px 15px rgba(0, 0, 0, 0.768),
    -6px 0 15px rgba(0, 0, 0, 0.768);
  background-image: linear-gradient(rgb(5, 22, 46), rgba(5, 22, 46, 0));
  .logo {
    flex-basis: auto;
    height: 100%;
    // border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    z-index: 1001;
    .logo-icon {
      height: 100%;
    }
    .brand-name {
    }
  }

  .hamburger-menu {
    display: none;
    @media (max-width: 760px) {
      // clip-path: circle(40%);
      height: 60%;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      z-index: 1001;
      cursor: pointer;
      .hamburger-line {
        width: 100%;
        height: 25%;
        background-color: white;
        // margin: 10px;
      }
    }
  }
  // .slidedown-menu {
  //   position: absolute;
  //   top: 10vh;
  //   left: 0;
  //   width: 100%;
  //   height: 100px;
  //   background-color: rgba(255, 255, 255, 0.143);
  //   .list-item {
  //     border: 2px solid red;
  //     text-align: center;
  //   }
  // }
  .nav-menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-basis: 50%;
    font-size: 1.5em;
    position: unset;
    top: unset;
    transform: translate(0, 0);
    .list-item {
      transition: 0.2s ease;
      cursor: pointer;
      user-select: none;
    }

    @media (max-width: 760px) {
      position: absolute;
      top: -100vh;
      left: 0;
      width: 100vw;
      height: 100vh;
      flex-wrap: wrap;
      background-image: linear-gradient(rgb(7, 47, 86), rgb(5, 22, 46));
      align-items: flex-end;
      padding-bottom: 10vh;
      .list-item {
        flex-basis: 100%;
        font-size: 10vh;
        text-align: center;
        color: rgba(255, 255, 255, 0.7);
      }
    }
    .active {
      transform: scale(1.3);
      color: rgb(255, 122, 34);
    }
  }
}
.section {
  height: 100vh;
  display: flex;
  overflow: hidden;
}
.fill {
  width: 100vw;
  height: 100vh;
}
.welcome {
  overflow: visible;
  position: relative;
  // z-index: -1;

  .reveal {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 10%;
    transform: translateY(-50%);
    background-color: rgb(18, 18, 18);
  }
  .image {
    position: absolute;
    object-fit: cover;
    z-index: -1;
    // bottom: -20%;
    // width: 110%;
    opacity: 0;
    transition: 0.5s linear;
  }
  #stars {
    // bottom: -20%;
    z-index: 5;
    width: 102%;
    height: 102%;
    background-image: url("../pics/stars.svg");
    background-size: cover;
    background-position: center;
  }
  #horizon {
    background-image: url("../pics/horizon1.svg");
    // bottom: -23%;
    height: 100%;

    width: 102%;
    z-index: 6;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-position: bottom;
    bottom: -20%;
    left: -1%;
    @media (max-width: 1200px) {
      // bottom: 0;
      background-position: bottom center;
      background-size: cover;
      height: 100%;
    }
  }
  #cloud1 {
    background-image: url("../pics/cloud1.svg");
    width: 10vmax;
    height: 10vmax;
    top: 15%;
    left: 50%;
    z-index: 10;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: visible;
  }
  #cloud2 {
    background-image: url("../pics/cloud2.svg");
    width: 15vmax;
    height: 15vmax;
    top: 25%;
    left: 65%;
    z-index: 10;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: visible;
  }
  .welcome-text-content {
    position: absolute;
    top: 50%;
    right: 0;
    width: 65%;
    color: white;
    z-index: 50;
    font-size: 2vmax;
    text-align: center;

    .welcome-header {
      font-size: 6vmax;
      font-family: "Skranji", cursive;
      opacity: 0;

      span {
        display: inline-block;
        .animated-letter {
          display: inline-block;
          min-width: 20px;
        }
      }
    }
    .sub-welcome-header {
      opacity: 0.8;
    }
    @media (max-width: 960px) {
      width: 100%;
      left: 0;
    }
  }
}
.animals {
  display: flex;

  align-items: center;
  color: white;
  height: 200vh;
  position: relative;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  .panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .panel-description {
      flex-basis: 40%;
      text-align: center;
      display: block;
      font-size: 5vmin;
      // font-family: "Skranji", cursive;
      .description-header {
        &::first-letter {
          color: rgb(255, 122, 34);
          font-size: 10vh;
        }
      }
    }
    &-img {
      height: 100%;
      object-fit: contain;
      // width: 25%;

      object-position: right;
      flex-basis: 30%;
      max-width: 50%;
      margin-right: 20px;
    }
    @media (max-width: 900px) and (orientation: portrait) {
      flex-wrap: wrap;
      // flex-direction: column-reverse;
      margin-top: 10vh;
      .panel-img {
        flex-basis: 100%;
        order: -1;
        height: 60%;
        flex-basis: 100%;
        max-width: 100%;
        object-position: center;
      }
      .panel-description {
        height: 40%;
        // font-size: 1.5em;
        flex-basis: 80%;
      }
    }
  }
  .tree {
    flex-direction: row-reverse;
  }
}

.container1 {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .spaceship {
    flex-basis: 40%;
    height: 40vw;

    transform: rotateZ(30deg);

    background-image: url("../pics/spaceship.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 60%;
    height: 60%;
    color: white;

    .title {
      font-size: 5vmax;
      font-family: "Skranji", cursive;
    }
    .subtitle {
      font-size: 1.2em;
      color: rgba(255, 255, 255, 0.755);
    }
    .button-start {
    }
  }
  @media (max-width: 1200px) {
    width: 90%;
    margin: 0 auto;
    .content {
      flex-basis: 50%;
      justify-content: space-around;
      text-align: center;

      height: 100%;
    }
    .spaceship {
      flex-basis: 40%;
      height: 40vw;
    }
  }
  @media (max-width: 700px) {
    flex-wrap: wrap;
    // align-items: flex-end;
    .spaceship {
      // display: none;
      flex-basis: 100%;
      height: 60vh;
      transform: translateY(-100%) rotateZ(30deg);
      z-index: -1;
      filter: brightness(0.3);
    }
    .content {
      flex-basis: 100%;
      order: -1;
    }
  }
}
.container2 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  // border: 2px solid red;

  .text-content {
    flex-basis: 50%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: white;
    // font-size: 1.2em;
    // border: 2px solid violet;

    .season-title {
      font-family: "Skranji", cursive;
      text-transform: capitalize;
      font-size: 3em;
      flex-basis: 100px;
      vertical-align: center;
      width: 70%;
      color: rgb(153, 216, 255);
      // border: 2px solid teal;
    }

    .season-descr {
      flex-basis: 20%;
      width: 70%;
      line-height: 2em;
      // border: 2px solid peru;
    }

    .season-list {
      list-style: none;
      flex-basis: 20%;
      width: 50%;
      margin-bottom: 20px;
      // border: 2px solid tomato;

      .list-item {
        margin: 20px 0;
        display: flex;
        align-items: center;
        --background-image: url(../pics/checkmark-winter.svg);
        // border: 2px solid wheat;

        &:before {
          content: "";
          display: block;
          width: 2.2em;
          height: 2.2em;
          background-size: 2.2em 2.2em;
          background-image: var(--background-image);
          background-repeat: no-repeat;
          margin-right: 20px;
        }
      }
    }
  }

  .graphic-content {
    flex-basis: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 2px solid salmon;
    .squares-carousel {
      height: 30vw;
      width: 30vw;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10%;
      align-items: center;
      transform: rotate(45deg);
      // border: 2px solid turquoise;

      .square {
        justify-self: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        font-size: 5em;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        // border-radius: 10%;
        // border: 2px solid royalblue;

        cursor: pointer;

        .square-content {
          transform-origin: center;
          transform: rotate(-45deg);
          height: 180%;
          filter: brightness(0.3);

          // width: 145%;
          pointer-events: none;

          transition: 0.5s ease-out;
          &:hover {
            scale: 1.05;
          }
        }

        &:hover img {
          transform: rotate(-45deg) scale(1.1);
        }
      }
      .active {
        .square-content {
          filter: brightness(1);
        }
      }
    }
  }
  @media (max-width: 1200px) {
    .text-content {
      .season-descr {
        width: 90%;
      }
      .season-list {
        width: 70%;
      }
    }
  }
  @media (max-width: 900px) and (orientation: landscape) {
    .text-content {
      flex-basis: 70%;
      font-size: 0.8em;
      height: 70%;
      justify-content: space-evenly;
      .season-list {
        .list-item {
          margin: 10px 0;
        }
      }
      .button {
        margin: 0;
      }
    }
    .graphic-content {
      flex-basis: 30%;
      .squares-carousel {
        transform: unset;
        height: 80vh;
        grid-template-columns: 1fr;
        grid-gap: 0;
        .square {
          transform: rotateZ(45deg);
          width: 12vh;
          height: 12vh;
        }
      }
    }
  }
  @media (max-width: 600px) {
    padding-top: 10%;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    .text-content {
      flex-basis: 100%;
      height: 80%;
      font-size: 1em;
      justify-content: flex-start;
      .season-title {
        font-size: 2em;
        flex-basis: auto;
        width: 100%;
      }
      .season-list {
        width: 100%;
      }
      .button {
        margin: 0;
      }
    }
    .graphic-content {
      flex-basis: 100%;
      order: -1;
      height: 15%;
      .squares-carousel {
        transform: unset;
        height: 100%;
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        .square {
          width: 12vw;
          height: 12vw;
          transform: rotateZ(45deg);
        }
      }
    }
  }
}
// }
.last {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;

  .contact {
    filter: unset;
    z-index: 5;
    width: 35%;
    height: 70%;
    border-radius: 50px;
    // background: rgba(255, 255, 255, 0.08);
    // box-shadow: 6px 0px 15px rgba(255, 255, 255, 0.19),
    // -6px 0 15px rgba(255, 255, 255, 0.19);
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.428),
      -20px -20px 60px rgba(0, 0, 0, 0.462);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // @media (max-width: 1200px) {
    //   height: 90%;
    //   width: 100%;
    //   box-shadow: none;
    // }
    .last-header {
      // font-size: 3em;
      font-size: 5vh;
      font-family: "Skranji", cursive;
      text-align: center;
      white-space: nowrap;
    }
    .sub-last-header {
      opacity: 0.7;
    }
    .contact-form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      // width: 50%;

      .message,
      .name,
      .mail {
        margin: 10px;
        flex-basis: 85%;

        display: flex;
        flex-wrap: wrap;
        // background-color: rgba(255, 255, 255, 0.17);
        position: relative;
        overflow: hidden;
        padding-top: 2vh;
        .contact-label {
          position: absolute;
          width: 100%;
          // height: 100%;
          bottom: 2px;
          left: 0;
          border-bottom: 2px solid rgba(255, 255, 255, 0.116);
          // border: 2px solid orange;

          &::before {
            content: "";
            width: 100%;
            height: 100%;
            border-bottom: 2px solid white;
            position: absolute;
            pointer-events: none;
            transform: translateX(-100%);
            opacity: 0;
            transition: 0.5s;
          }
          .label-text {
            transition: 0.3s;
            opacity: 0.5;
            padding-bottom: 4px;
          }
        }

        .input-text {
          border: none;
          outline: none;
          color: white;
          padding: 10px;
          font-size: 1.2em;
          background: none;
          flex-basis: 100%;
          font-family: "Josefin Sans", sans-serif;
        }
        .input-text:focus + .contact-label .label-text,
        .input-text:valid + .contact-label .label-text {
          transform: translateY(-150%);
          font-size: 0.8em;
          opacity: 1;
        }

        .input-text:focus + .contact-label::before,
        .input-text:valid + .contact-label::before {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
    @media (max-width: 1200px) {
      height: 100%;
      width: 100%;
      box-shadow: none;
      justify-content: center;
      padding: 10vh 10px 0 10px;

      .contact-form {
        max-width: 500px;
      }
      .last-header {
        white-space: unset;
      }
    }
    // @media (max-width: 900px) and (orientation: landscape) {
    //   // flex-direction: column;
    //   flex-wrap: wrap;
    //   // justify-content: unset;
    //   padding: 0;
    //   // margin: auto;
    //   // align-items: flex-start;
    //   height: 80%;

    //   .contact-form {
    //     width: 40%;
    //     height: 80%;
    //     // align-items: flex-start;
    //     .button {
    //       margin: 20px 0;
    //     }
    //   }
    //   .last-header {
    //     width: 40%;
    //     // height: 100%;
    //     align-items: center;
    //   }
    //   // .sub-last-header {
    //   //   height: 40%;
    //   // }
    // }
  }
  .triangle {
    position: absolute;

    width: 80px;
    height: 80px;
    opacity: 0;
  }
  @media (max-width: 900px) and (orientation: landscape) {
    align-items: flex-start;
    justify-content: flex-start;
    .contact {
      // flex-direction: column;
      flex-wrap: wrap;
      // justify-content: unset;
      padding: 0;
      // margin: auto;
      // align-items: flex-start;
      height: 80%;

      .contact-form {
        width: 40%;
        height: 100%;
        // align-items: flex-start;
        .button {
          margin: 20px 0;
        }
      }
      .last-header {
        width: 40%;
        // height: 100%;
        align-items: center;
        font-size: 5vmax;
      }
      // .sub-last-header {
      //   height: 40%;
      // }
    }
  }
}

.footer {
  background-color: rgb(17, 17, 17);
  color: white;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 6;
  .dev-info {
    text-align: center;
    margin: 0 auto;
    .dev-link {
      text-decoration: none;
      color: white;
      font-size: 1.2em;
      letter-spacing: 0.1em;
      font-family: "Skranji", cursive;
    }
  }
}
